@page
@model ErrorModel
@inject IHttpContextAccessor contextAccessor
@{
    Layout = null;
    var httpContext = contextAccessor.HttpContext;
    string title = Application.ExceptionHandlerContext.Message,
           message = Application.ExceptionHandlerContext.StackTrace,
           details = Application.ExceptionHandlerContext.Details;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Mikrotik Wireguard management panel">
    <meta name="author" content="Kazem Ma79">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Mikrotik, RouterOS, Wireguard, MTWireguard">
    <title>Error</title>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="assets/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/libs/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/css/core.css" rel="stylesheet">

    <!-- Theme Style Switcher-->
    <script src="assets/js/themeSwitcher.js"></script>

    <style>
        .accordion-body {
            overflow-y: auto;
        }

        .accordion-body p {
            max-height: 30vh;
        }
    </style>
</head>
<body>
    <div class="min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="clearfix">
                        <h1 class="float-start display-3 mx-2 mt-4">500</h1>
                        <h4 class="pt-3">@title</h4>
                        @if (!Application.SetupValidator.IsValid)
                        {
                            <hr />
                            <h4 class="text-danger"><i class='bx bxs-chevrons-right'></i> Invalid Setup Variables</h4>
                            <strong>@Application.SetupValidator.Title</strong>
                            <br />
                            <p>@Application.SetupValidator.Description</p>
                        }
                        <div class="accordion mb-3" id="infoAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#titleAccordion" aria-expanded="true" aria-controls="titleAccordion">
                                        Error Message
                                    </button>
                                </h2>
                                <div id="titleAccordion" class="accordion-collapse collapse" data-bs-parent="#infoAccordion">
                                    <div class="accordion-body">
                                        <p class="text-medium-emphasis text-break">@message</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#detailsAccordion" aria-expanded="true" aria-controls="detailsAccordion">
                                        Error Details
                                    </button>
                                </h2>
                                <div id="detailsAccordion" class="accordion-collapse collapse" data-bs-parent="#infoAccordion">
                                    <div class="accordion-body">
										<p class="text-medium-emphasis text-break">@Html.Raw(details)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/Debug" class="btn btn-primary">
                            <i class="bx bx-notepad me-1"></i> <span class="d-none d-lg-inline-block">View Logs</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/jquery/js/jquery.min.js"></script>
    <script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>
</body>
</html>
